.font {
  margin-bottom: 2rem;
  overflow-wrap: break-word;
}

.alphabet {
  margin-right: 3rem;
}

.big {
  font-size: 5rem;
}

.medium {
  font-size: 4rem;
}

.small {
  font-size: 3rem;
}

.big-anim {
  animation: big 5s infinite;
}
