<h1>Unit</h1>
<div class="text-block">
  <p>
    The unit for width and height in marble diagrams is called a block.
    <strong>A block is a rectangle with equal width and height</strong>.
    Positioning of objects and text is also measured in blocks. To have a
    convenient unit we use <strong>em with the base of 1 block</strong>.
    Sometimes time matters. The smallest unit of time is called frame.
    <strong>A frame is a unit for time</strong> and expressed in width.
    <strong>1 frame equals to the width of 2 blocks</strong>.
  </p>
</div>
<div class="preview-block">
  <figure role="group" *ngFor="let unit of units">
    <img
      [class]="unit.styleClass"
      [src]="unit.img"
      alt="{{ unit.alt }}"
      loading="lazy"
    />
  </figure>
</div>
