<div class="diagrams-header">
  <h1>Operators</h1>
  <mat-button-toggle-group name="viewMode" aria-label="View Mode">
    <mat-button-toggle
      routerLink="."
      routerLinkActive="mat-button-toggle-checked"
      queryParamsHandling="merge"
      [queryParams]="{
        viewMode: 'list'
      }"
      >List View</mat-button-toggle
    >
    <mat-button-toggle
      routerLink="."
      routerLinkActive="mat-button-toggle-checked"
      queryParamsHandling="merge"
      [queryParams]="{
        viewMode: 'tile'
      }"
      >Tile View</mat-button-toggle
    >
  </mat-button-toggle-group>
</div>

<div class="filters">
  <mat-chip-list aria-label="Group selection">
    <mat-chip
      *ngFor="let group of indexGroups"
      routerLink="."
      [routerLinkActive]="group.value || ''"
      [routerLinkActiveOptions]="{ exact: true }"
      queryParamsHandling="merge"
      [queryParams]="{
        group: group.value
      }"
      class="group-chip group-indication"
      [selectable]="true"
    >
      <span class="index-group group-indication" [ngClass]="group.value"></span
      >{{ group.label }}
    </mat-chip>
  </mat-chip-list>
</div>

<ng-container *ngIf="listViewMode$ | async; else tileView">
  <ul class="index-list">
    <li
      class="index-list-item"
      *ngFor="let indexItem of displayItems$ | async; trackBy: trackByFn"
    >
      <a class="index-list-route" [routerLink]="'detail/' + indexItem.name">
        <span
          class="index-group group-indication"
          [ngClass]="indexItem.group"
        ></span
        >{{ indexItem.name }}
      </a>
    </li>
  </ul>
</ng-container>

<ng-template #tileView>
  <ul class="index-list">
    <ng-container
      *ngFor="let indexItem of displayItems$ | async; trackBy: trackByFn"
    >
      <li class="index-list-item-tile">
        <a
          class="index-list-route-tile"
          [routerLink]="'detail/' + indexItem.name"
        >
          <img
            *ngIf="indexItem.image"
            [src]="indexItem.image"
            alt="Operator Image Preview"
            loading="lazy"
          />
          <img
            *ngIf="!indexItem.image"
            src="assets/no-preview.svg"
            alt="No Preview Image"
            loading="lazy"
          />
          <div class="index-info">
            <span
              class="index-group group-indication"
              [ngClass]="indexItem.group"
            ></span
            >{{ indexItem.name }}
          </div>
        </a>
      </li>
    </ng-container>
  </ul>
</ng-template>
