@import "abstracts/index";

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: $font__sans-serif;
  line-height: 1.4;
  color: $color__black;
}

h1,
h2,
h3,
h4 {
  font-family: $font__sans-serif-bold;
  margin-top: 0;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  color: $color__primary-900;

  @include breakpoint(tablet) {
    font-size: 3.4rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
  color: $color__primary-900;

  @include breakpoint(tablet) {
    font-size: 2.8rem;
  }
}

h3 {
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: $color__primary-900;

  @include breakpoint(tablet) {
    font-size: 2.2rem;
  }
}

h4 {
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: $color__primary-300;

  @include breakpoint(tablet) {
    font-size: 2rem;
  }
}

ul {
  list-style-type: none;
  margin: 0 0 16px 0;
  padding: 0;

  > ul {
    padding-left: 2.6rem;
  }

  a {
    color: $color__primary-600;
    transition: all 0.25s;

    &:hover {
      color: $color__primary-300;
    }
  }
}

.bullet {
  width: 10px;
  height: 10px;
  background-color: $color__primary-600;
  border-radius: 2px;
  display: inline-block;
  margin-right: 1.5rem;

  &.sub {
    background-color: $color__secondary-600;
  }
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  transition: all 200ms ease-in-out;

  &.link {
    color: $color__secondary-600;

    &:hover {
      color: $color__secondary-300;
    }
  }
}

p {
  font-size: 1.6rem;
  margin-top: 0px;
  line-height: 1.6;
}

strong {
  color: $color__primary-600;
}

.bold {
  color: $color__black;
  font-family: "SourceSansProBold";
}

/// UTILS

.wrapper {
  padding: 3rem 4rem;
}

.monospace {
  font-family: $font__monospace;
  font-size: 1.4rem;
}

.serif {
  font-family: $font__serif;
}

.proportional {
  font-family: $font__proportional;
}

.text-block,
.preview-block {
  padding-bottom: 3rem;

  @include breakpoint(desktop) {
    padding-bottom: 4rem;
  }
}

.preview-block {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint-less(mobile-land) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  span {
    display: block;
  }
}

.flex-columns {
  .text-block {
    display: flex;
    flex-wrap: wrap;

    div,
    p {
      margin: 0 5rem 3rem 0;
    }
  }

  @include breakpoint-less(mobile-land) {
    margin: 0 0 3rem 0;
  }
}

figure {
  margin: 0 5rem 3rem 0;

  @include breakpoint-less(tablet) {
    width: 100%;
  }

  @include breakpoint-less(mobile-land) {
    margin: 0 0 3rem 0;
  }

  figcaption {
    font-family: "SourceCodeProRegular";
    font-size: 1.4rem;
  }
}

img {
  margin-bottom: 1rem;
  width: 180px;

  &.big {
    width: 100%;
    @include breakpoint(tablet) {
      width: 400px;
    }
  }
  &.bigger {
    width: 100%;
    @include breakpoint(tablet) {
      width: 450px;
    }
    @include breakpoint(desktop) {
      width: 700px;
    }
  }
}

.illustration {
  width: 65%;
  margin-bottom: 3rem;
}

.center {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
