@import "abstracts/index";

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: $font__sans-serif;
  line-height: 1.4;
  color: $color__black;
}

h1,
h2,
h3,
h4 {
  font-family: $font__sans-serif-bold;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: $color__primary-900;

  @include breakpoint(tablet) {
    font-size: 3.4rem;
  }
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.8;
  color: $color__primary-900;

  @include breakpoint(mobile) {
    font-size: 2rem;
  }

  @include breakpoint(tablet) {
    font-size: 2.2rem;
  }
}

h3 {
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: $color__primary-900;

  @include breakpoint(tablet) {
    font-size: 1.8rem;
  }
}

h4 {
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: $color__secondary-600;
}

ul {
  color: $color__primary-600;
  list-style-type: none;
  margin: 0;
  padding: 0;

  a {
    color: $color__primary-600;
    transition: all 0.25s;

    &:hover {
      color: $color__primary-300;
    }
  }
}

.bullet {
  width: 10px;
  height: 10px;
  background-color: $color__primary-600;
  border-radius: 2px;
  display: inline-block;
  margin-right: 1.5rem;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  transition: all 200ms ease-in-out;

  /* &:hover {
    color: $color__primary;
  } */
}

p {
  font-size: 1.6rem;
  margin-top: 0px;
  line-height: 1.6;
}

strong {
  color: $color__secondary-600;
  font-weight: 400;
}

img {
  width: 100%;
}

/// UTILS

.wrapper {
  padding: 3rem 4rem;
}

.monospace {
  font-family: $font__monospace;
}

.serif {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.proportional {
  font-family: Arial, Geneva, sans-serif;
}

.text-block,
.preview-block {
  padding-bottom: 4rem;

  @include breakpoint(desktop) {
    padding-bottom: 6rem;
  }
}

.flex-columns {
  .text-block {
    flex: 2;
  }

  .preview-block {
    flex: 1;
  }

  @include breakpoint(desktop) {
    display: flex;

    .text-block {
      margin-left: 5rem;
    }
  }
}

.list-item-active {
  background: rgba(0, 0, 0, 0.04);
}
