/* source-sans-pro-regular - latin */
@font-face {
  font-family: "SourceSansProRegular";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/source-sans-pro/source-sans-pro-v13-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/source-sans-pro/source-sans-pro-v13-latin-regular.eot");
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
    url("/assets/fonts/source-sans-pro/source-sans-pro-v13-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("/assets/fonts/source-sans-pro/source-sans-pro-v13-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/assets/fonts/source-sans-pro/source-sans-pro-v13-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("/assets/fonts/source-sans-pro/source-sans-pro-v13-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/source-sans-pro/source-sans-pro-v13-latin-regular.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}
/* source-sans-pro-700 - latin */
@font-face {
  font-family: "SourceSansProBold";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/source-sans-pro/source-sans-pro-v13-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"),
    url("/assets/fonts/source-sans-pro/source-sans-pro-v13-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("/assets/fonts/source-sans-pro/source-sans-pro-v13-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/assets/fonts/source-sans-pro/source-sans-pro-v13-latin-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("/assets/fonts/source-sans-pro/source-sans-pro-v13-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/source-sans-pro/source-sans-pro-v13-latin-700.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}

/* source-code-pro-regular - latin */
@font-face {
  font-family: "SourceCodeProRegular";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/source-code-pro/source-code-pro-v11-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Source Code Pro Regular"), local("SourceCodePro-Regular"),
    url("/assets/fonts/source-code-pro/source-code-pro-v11-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("/assets/fonts/source-code-pro/source-code-pro-v11-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/assets/fonts/source-code-pro/source-code-pro-v11-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("/assets/fonts/source-code-pro/source-code-pro-v11-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/source-code-pro/source-code-pro-v11-latin-regular.svg#SourceCodePro")
      format("svg"); /* Legacy iOS */
}
/* source-code-pro-700 - latin */
@font-face {
  font-family: "SourceCodeProBold";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/source-code-pro/source-code-pro-v11-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Source Code Pro Bold"), local("SourceCodePro-Bold"),
    url("/assets/fonts/source-code-pro/source-code-pro-v11-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("/assets/fonts/source-code-pro/source-code-pro-v11-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/assets/fonts/source-code-pro/source-code-pro-v11-latin-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("/assets/fonts/source-code-pro/source-code-pro-v11-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/source-code-pro/source-code-pro-v11-latin-700.svg#SourceCodePro")
      format("svg"); /* Legacy iOS */
}
