@import "mixins";
@import "fonts";

//Fonts
$font__sans-serif: "SourceSansProRegular", sans-serif;
$font__sans-serif-bold: "SourceSansProBold", sans-serif;
$font__monospace: "SourceCodeProRegular", sans-serif;
$font__monospace-bold: "SourceCodeProBold", sans-serif;

$font__serif: "Georgia, Times, " Times New Roman ", serif";
$font__proportional: Arial, Geneva, sans-serif;

//Colors
$color__white: rgb(255, 255, 255);
$color__black: rgb(0, 0, 0);

$color__body: rgb(254, 254, 254);
$color__topnav: rgb(254, 254, 254);
$color__sidenav: rgb(246, 246, 250);

$color__shadow: rgb(225, 228, 237);

$color__disabled: rgb(154, 165, 177);

//Primary
$color__primary-300: #7b93db;
$color__primary-600: #4055a8;
$color__primary-700: #35469c;
$color__primary-800: #2d3a8c;
$color__primary-900: #19216c;

//Supportive
$color__secondary-600: #de911d;
$color__secondary-800: #b44d12;

//Media Queries
$breakpoints: (
  mobile: 414px,
  mobile-land: 600px,
  tablet: 768px,
  tablet-land: 960px,
  desktop: 1024px
);
