<h1>Event In Time</h1>
<div class="text-block">
  <p></p>
</div>
<div class="preview-block">
  <figure role="group">
    <img
      src="/assets/graphics/components/event-in-time/event-in-time1.svg"
      alt="Event in Time 1 Graphic"
    />
    <figcaption>
      <span>Object: </span>
      <span>Shape: Circle</span>
    </figcaption>
  </figure>
  <figure role="group">
    <img
      src="/assets/graphics/components/event-in-time/event-in-time2.svg"
      alt="Event in Time 2 Graphic"
    />
  </figure>
</div>
