<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="toolbar-sidenav">
      <a routerLink="/" class="logo">
        <img src="/assets/mds-logo.png" alt="Marble Design System Logo" />
      </a>
    </mat-toolbar>
    <mat-nav-list>
      <div class="nav-items" *ngFor="let navItem of navItems">
        <a
          mat-list-item
          (click)="toggleSubMenu(navItem)"
          [routerLink]="navItem.routerLink ? [navItem.routerLink] : []"
          routerLinkActive="list-item-active"
        >
          <mat-icon fontSet="material-icons-outlined">{{
            navItem.icon
          }}</mat-icon>
          <span class="full-width nav-caption">{{ navItem.caption }}</span>
          <mat-icon
            class="menu-button"
            [ngClass]="{ rotated: navItem.isExpanded }"
            *ngIf="navItem.children"
            >expand_more</mat-icon
          >
        </a>
        <div
          class="submenu"
          [ngClass]="{ expanded: navItem.isExpanded }"
          *ngIf="navItem.children && navItem.isExpanded"
        >
          <a
            mat-list-item
            *ngFor="let child of navItem.children"
            [routerLink]="[child.routerLink]"
            routerLinkActive="list-item-active"
          >
            <span>{{ child.caption }}</span>
          </a>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar-topnav">
      <a routerLink="/" class="logo" *ngIf="isHandset$ | async">
        <img src="/assets/mds-logo.png" alt="Marble Design System Logo" />
      </a>
      <a
        class="github"
        href="https://github.com/BioPhoton/Rx-Marble-Design-System"
      >
        <img src="../../assets/icons/icon-github.svg" alt="Github Icon" />
      </a>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon>notes</mat-icon>
      </button>
    </mat-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
