<h1>Time Span</h1>
<div class="text-block">
  <p>
    Time Span is here to <strong>specify</strong> a certain
    <strong>duration of time</strong>. The smallest possible size is
    <strong>1 turn in the event loop</strong>. The description of the time span
    is placed inside the box and consists out of an amount
    <strong>directly followed by a unit</strong>. No space inbetween. The amount
    is a number. The unit, as singular, can be any known unit of time as well as
    the unit frame, which is equal to one block.
    <strong>For time units you can use shortcuts</strong> as ms for milliseconds
    or s for seconds as well as full name i.e. month or year. Of course
    <strong>you can also use any other imaginary unit of time</strong> like a
    moment ;-)
  </p>
</div>
<div class="preview-block">
  <figure role="group" *ngFor="let timeSpan of timeSpans">
    <img [src]="timeSpan.img" alt="{{ timeSpan.alt }}" loading="lazy" />
    <figcaption>
      <span *ngIf="timeSpan.object">Object: {{ timeSpan.object }}</span>
      <span *ngIf="timeSpan.shape">Shape: {{ timeSpan.shape }}</span>
    </figcaption>
  </figure>
</div>
