@import "abstracts/index";

.preview-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  h4 {
    color: $color__primary-600;
  }

  span {
    display: block;
  }
}

.line {
  font-family: "SourceCodeProRegular";
  font-size: 1.4rem;
  margin-bottom: 2rem;

  svg {
    width: 150px;
    margin-bottom: 1rem;
  }
}
