<h1>The idea behind the MarbleDesignSystem</h1>
<div class="text-block">
  <p>
    <strong>
      Diagrams have the unique ability to express complex things simply.<br />
      Never had reactive programming been made so visual.<br />
      Diagrams is transforming information into compelling images.
    </strong>
  </p>
  <p>
    Marble diagrams serve a <strong>method for</strong> us to
    <strong>visualize processes over time.</strong>
  </p>
  <p>
    The overall goal of the MarbleDesignSystem is to
    <strong>provide a unified way</strong> of
    <strong>reading and creating</strong> stream based diagrams, in particular
    one specific type of it, the <strong>marble diagrams</strong>.
  </p>
  <p>
    This guide explains all building blocks of the design system step by step
    and in detail.
  </p>
  <p>
    In general we have some main rules that system follows:
  </p>
  <ul>
    <li><span class="bullet"></span>Consistent</li>
    <li><span class="bullet"></span>Intuitive</li>
    <li><span class="bullet"></span>Easy</li>
    <li><span class="bullet"></span>Detailed</li>
    <li><span class="bullet"></span>Technically Correct</li>
  </ul>
</div>

<h2>Consistency</h2>
<div class="text-block">
  <p>
    There are several things to follow if you try to create a standard. One of
    them is more <strong>critical for a positive outcome</strong> than
    everything else, <strong>consistency</strong>.
  </p>
  <p>
    By working with a standardized, reproducible approach we managed to create a
    consistent way of drawing marble diagrams. A set of rules developed over
    many many iterations, adopted and simplified to serve as a guideline and
    blueprint for creating and using these diagrams.
  </p>
</div>

<h2>Intuitive</h2>
<div class="text-block">
  <p>
    As programming with Rx is hard we made sure to keep it intuitive. By
    <strong>including</strong> a lot of <strong>people</strong> into the process
    of the creation of this guide we collected a lot of
    <strong>personal feedback</strong> to improve the system.
  </p>
  <p>
    To make sure we consider a <strong>common way</strong> interpretation we
    created several <strong>public polls</strong> we were collected and
    evaluated the general understanding. This helped us to make our system
    <strong>intuitive to understand</strong>.
  </p>
</div>

<h2>Easy</h2>
<div class="text-block">
  <p>
    As mindset behind the system are several principles. One of them is “<strong
      >Easy to adopt and create</strong
    >”, which means we want to provide <strong>a way for everybody</strong> to
    <strong>read and create</strong> marble diagrams.
  </p>
  <p>
    To achieve this we create all diagrams in either googleSlides oder
    Powerpoint. We believe this two options <strong>enable</strong> a big group
    of people to <strong>edit and draw</strong> these <strong>diagrams</strong>.
  </p>
</div>

<h2>Detailed</h2>
<div class="text-block">
  <p>
    Marble diagrams exist since a long time now. As there was no well thought
    standard out there and not all edge cases considered, people started to
    create their own solutions to visualize processes. These let to a variety of
    different ways of drawing these diagrams. Some of the better approaches were
    able to visualize more complex prozesses, but there is one essential thing
    which nobody considered yet, but which is most critical to understand
    processes based on Rx. The internal behavior of operators.
  </p>
  <p>
    This system is not only providing a consistent, standardized way of drawing
    marble diagrams, but also offers a way to visualize the internals of
    operators. Of course based on the systems rules itself.
  </p>
</div>

<h2>Technically Correct</h2>
<div class="text-block">
  <p>
    //
  </p>
</div>
