.index-list {
  @include breakpoint(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.index-list-route {
  cursor: pointer;
  color: $color__black;

  @include breakpoint(tablet) {
    width: 50%;
  }

  @include breakpoint(desktop) {
    width: 33%;
  }
}

.index-list-item {
  margin-bottom: 0.8rem;
}

.index-list-route-tile {
  cursor: pointer;
  color: $color__black;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px $color__shadow;
  margin-right: 1rem;
  margin-bottom: 1rem;

  @include breakpoint(desktop) {
    width: 50%;
  }

  @include breakpoint(desktop-wide) {
    width: 32%;
  }
}

.index-list-item-tile {
  background-color: #f6f6fa;

  img {
    object-fit: contain;
    margin-bottom: 0;
    width: 100%;
  }

  .index-info {
    padding: 1rem 2rem 1.5rem 2rem;
  }
}

.index-group {
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(10, 16, 20, 0.24);
  color: $color__white;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  width: 20px;
  margin-right: 10px;
  vertical-align: middle;

  &::after {
    display: inline-block;
    text-align: center;
  }

  &.rate-limit {
    background-color: lightsteelblue;
    &::after {
      content: "r";
    }
  }

  &.buffer {
    background-color: rgb(242, 150, 180);
    &::after {
      content: "b";
    }
  }

  &.error-handling {
    background-color: rgb(216, 90, 90);
    &::after {
      content: "e";
    }
  }

  &.combine {
    background-color: lightseagreen;
    &::after {
      content: "c";
    }
  }

  &.merge {
    background-color: rgb(255, 174, 0);
    &::after {
      content: "m";
    }
  }

  &.scan {
    background-color: rgb(170, 0, 255);
    &::after {
      content: "s";
    }
  }

  &.condition {
    background-color: rgb(0, 145, 255);
    &::after {
      content: "cd";
    }
  }

  &.timing {
    background-color: rgb(39, 126, 22);
    &::after {
      content: "t";
    }
  }

  &.transform {
    background-color: rgb(135, 77, 15);
    &::after {
      content: "tr";
    }
  }

  &.filter {
    background-color: rgb(164, 19, 118);
    &::after {
      content: "f";
    }
  }

  &.side-effect {
    background-color: rgb(19, 60, 164);
    &::after {
      content: "se";
    }
  }

  &.slice {
    background-color: rgb(164, 135, 19);
    &::after {
      content: "sl";
    }
  }

  &.multicast {
    background-color: rgb(164, 63, 19);
    &::after {
      content: "mc";
    }
  }

  &.scheduling {
    background-color: rgb(145, 164, 19);
    &::after {
      content: "sh";
    }
  }

  &.subject {
    background-color: rgb(93, 200, 238);
    &::after {
      content: "su";
    }
  }

  &.creation {
    background-color: rgb(238, 93, 127);
    &::after {
      content: "cr";
    }
  }
}
