.mat-toolbar-single-row,
.mat-list-item-content {
  padding: 0 3rem !important;
}

.mat-list-item {
  height: auto !important;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.mat-raised-button,
.mat-button {
  box-shadow: 0 0 20px $color__shadow !important;
  background-color: $color__primary-900;
  color: $color__white;

  &:hover {
    background-color: $color__primary-600;
  }
}
