.mat-toolbar-single-row,
.mat-list-item-content {
  padding: 0 3rem !important;
}

.mat-toolbar-single-row {
  height: 85px !important;
}

.mat-raised-button,
.mat-button {
  box-shadow: 0 0 20px $color__shadow !important;
}
