<h1>Operators List</h1>
<h3>Search</h3>
<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select [disableOptionCentering]="true">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{ food.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field> -->
