@import 'abstracts/index';

.diagrams-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;

  > * {
    @include breakpoint(desktop-wide) {
      max-width: 80%;
    }
  }
}

.groups-filer {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

//mat-form-field {
//  font: inherit;
//  margin-right: 4rem;
//  @include breakpoint-less(tablet) {
//    width: 100%;
//    margin-right: 0;
//  }
//}

//.active {
//  background-color: $color__primary-600;
//}
