<h1>Operators</h1>
<div class="layout-buttons">
  <button mat-button (click)="changeView(1)" [class.active]="activeView === 1">
    List View
  </button>
  <button mat-button (click)="changeView(2)" [class.active]="activeView === 2">
    Tile View
  </button>
</div>

<h3>Search</h3>
<form>
  <mat-form-field>
    <mat-label>Select Type</mat-label>
    <mat-select
      [(ngModel)]="groupFilter"
      (ngModelChange)="applyFilters()"
      [ngModelOptions]="{ standalone: true }"
    >
      <mat-option
        *ngFor="let indexGroup of indexGroups"
        [value]="indexGroup.value"
      >
        {{ indexGroup.group }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Search Text</mat-label>
    <input
      matInput
      [(ngModel)]="searchFilter"
      (ngModelChange)="applyFilters()"
      [ngModelOptions]="{ standalone: true }"
      placeholder="ex. defaultEmpty"
      value=""
    />
  </mat-form-field>
</form>

<div *ngIf="listView">
  <ul class="index-list">
    <li class="index-list-item" *ngFor="let indexItem of displayItems$ | async">
      <a class="index-list-route" [routerLink]="'detail/' + indexItem.name">
        <span class="index-group {{ indexItem.class }}"></span
        >{{ indexItem.name }}
      </a>
    </li>
  </ul>
</div>

<div *ngIf="tileView">
  <ul class="index-list">
    <ng-container *ngFor="let indexItem of displayItems$ | async">
      <li class="index-list-item-tile">
        <a
          class="index-list-route-tile"
          [routerLink]="'detail/' + indexItem.name"
        >
          <img
            *ngIf="indexItem.image"
            [src]="indexItem.image"
            alt="Operator Image Preview"
            loading="lazy"
          />
          <img
            *ngIf="!indexItem.image"
            src="../../assets/no-preview.svg"
            alt="No Preview Image"
            loading="lazy"
          />
          <div class="index-info">
            <span class="index-group {{ indexItem.class }}"></span
            >{{ indexItem.name }}
          </div>
        </a>
      </li>
    </ng-container>
  </ul>
</div>
