<h1>Line</h1>
<div class="text-block">
  <p>
    Lines are here to symbolize time. Time without a measurement as line or area
    as shown with [1] and [5], a specific time period is shown under [4] or an
    interaction at a specific point in time ilke in [2] and [3]. The interaction
    can be initialized from the consumer [2] to the producer [3,6]. Lines from
    the consumer side [2] have in some cases description in form of the letters
    S, U and C. Some lines from the producer side [6] can be angled. This is
    possible to the right side only. [7] [8]
  </p>
</div>
<div class="preview-block">
  <figure role="group">
    <img src="../../assets/graphics/lines/line1.svg" alt="Line 1 Graphic" />
    <figcaption>
      <span>Style: Solid</span>
      <span>Weight: 0.06em</span>
      <span>Start: none</span>
      <span>End: Filled Arrow</span>
    </figcaption>
  </figure>
</div>
