<h1>Font</h1>
<div class="text-block">
  <p>
    Text is used to name things or give more information to a specific part of a
    diagram like observables, operators and events like subscribe or
    unsubscribe. It is furthermore used in notifications to give more detailed
    information about their content.
  </p>
</div>

<h2>Font-Face</h2>
<div class="text-block">
  <p>
    The design guide doesn’t limit the choice of font. Only a few limitations
    are suggested. Serif font-face and mono-space letter.
  </p>
  <h3>Serif</h3>
  <p>
    Serif font-face has compared to the serif font-faces less visual noise.
  </p>
</div>
<div class="flex-columns">
  <div class="text-block">
    <div class="font-1">
      <h4>Sans-Serif</h4>
      <img
        src="/assets/graphics/design-tokens/font/font-face1.svg"
        alt="Font Face 1 Graphic"
        loading="lazy"
      />
    </div>
    <div class="font-2">
      <h4>Serif</h4>
      <img
        src="/assets/graphics/design-tokens/font/font-face2.svg"
        alt="Font Face 2 Graphic"
        loading="lazy"
      />
    </div>
  </div>
</div>

<div class="text-block">
  <h3>Mono-space</h3>
  <p>
    Mono-space font has to be used in the description of observables, operators
    or in the text of notifications. This ensures that the with of text is
    directly proportional to the number of characters and therefore simplifies
    the positioning and alignment of text in diagrams.
  </p>
</div>
<div class="flex-columns">
  <div class="text-block">
    <div class="font-1">
      <h4>Monospace</h4>
      <img
        src="/assets/graphics/design-tokens/font/font-face3.svg"
        alt="Font Face 3 Graphic"
        loading="lazy"
      />
    </div>
    <div class="font-2">
      <h4>Proportional</h4>
      <img
        src="/assets/graphics/design-tokens/font/font-face4.svg"
        alt="Font Face 4 Graphic"
        loading="lazy"
      />
    </div>
  </div>
</div>

<h2>Font-Size</h2>
<div class="text-block">
  <p>
    The font-size is measured in em, a scalable unit for text. In this design
    system 1em is equal to 1 block, the unit for width and height. There are 3
    different sizes defined to describe marble diagrams. We will elaborate more
    on this later.
  </p>
</div>
<div class="text-block">
  <div class="font big">
    <h4>1em (Big)</h4>
    <span class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
  </div>
  <div class="font medium">
    <h4>0.67em (Medium)</h4>
    <span class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
  </div>
  <div class="font small">
    <h4>0.5em (Small)</h4>
    <span class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
  </div>
</div>

<h2>Font-Style</h2>
<div class="text-block">
  <p>
    The font-styles are limited to 2 different styles, normal and bold. We will
    elaborate more on this later.
  </p>
</div>
<div class="text-block">
  <div class="font font-style">
    <h4>Normal</h4>
    <svg
      viewBox="0 80 600 35"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
    >
      <path id="path">
        <animate
          attributeName="d"
          from="m0,110 h0"
          to="m0,110 h1100"
          dur="5s"
          begin="0s"
          repeatCount="indefinite"
        />
      </path>
      <text font-size="36px" font-family="SourceSansProRegular" fill="#000000">
        <textPath xlink:href="#path">ABCDEFGHIJKLMNOPQRSTUVWXYZ</textPath>
      </text>
    </svg>
    <svg
      viewBox="0 80 600 40"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
    >
      <path id="path">
        <animate
          attributeName="d"
          from="m0,110 h0"
          to="m0,110 h1100"
          dur="5s"
          begin="0s"
          repeatCount="indefinite"
        />
      </path>
      <text font-size="36px" font-family="SourceSansProRegular" fill="#000000">
        <textPath xlink:href="#path">
          abcdefghijklmnopqrstuvwxyz
        </textPath>
      </text>
    </svg>
  </div>
  <div class="font font-style bold">
    <h4>Bold</h4>
    <svg
      viewBox="0 80 600 35"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
    >
      <path id="path">
        <animate
          attributeName="d"
          from="m0,110 h0"
          to="m0,110 h1100"
          dur="5s"
          begin="0s"
          repeatCount="indefinite"
        />
      </path>
      <text
        font-size="36px"
        font-family="SourceSansProBold"
        font-weight="bold"
        fill="#000000"
      >
        <textPath xlink:href="#path">ABCDEFGHIJKLMNOPQRSTUVWXYZ</textPath>
      </text>
    </svg>
    <svg
      viewBox="0 80 600 40"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
    >
      <path id="path">
        <animate
          attributeName="d"
          from="m0,110 h0"
          to="m0,110 h1100"
          dur="5s"
          begin="0s"
          repeatCount="indefinite"
        />
      </path>
      <text
        font-size="36px"
        font-family="SourceSansProBold"
        font-weight="bold"
        fill="#000000"
      >
        <textPath xlink:href="#path">
          abcdefghijklmnopqrstuvwxyz
        </textPath>
      </text>
    </svg>
  </div>
</div>
