.font {
  margin-bottom: 2rem;
}

.alphabet {
  margin-right: 3rem;
}

.big {
  font-size: 1.5em;
}

.medium {
  font-size: 1em;
}

.small {
  font-size: 0.75em;
}

.big-anim {
  animation: big 5s infinite;
}

@keyframes big {
  0% {
    font-size: 1em;
  }
  50% {
    font-size: 2em;
  }
  100% {
    font-size: 1em;
  }
}
