<h1>Font</h1>
<div class="text-block">
  <p>
    Text is used to name things or give more information to a specific part of a
    diagram like observables, operators and events like subscribe or
    unsubscribe. It is furthermore used in notifications to give more detailed
    information about their content.
  </p>
</div>

<h2>Font-Face</h2>
<div class="text-block">
  <p>
    The design guide doesn’t limit the choice of font. Only a few limitations
    are suggested. Serif font-face and mono-space letter.
  </p>
</div>

<!-- //TODO: Schriften durch SVG animationen ersetzen -->
<div class="text-block">
  <h3>Serif</h3>
  <p>
    Serif font-face has compared to the serif font-faces less visual noise.
  </p>
</div>
<div class="flex-columns">
  <div class="text-block">
    <div class="font-1">
      <h4>Sans-Serif</h4>
      <span>ABCDEFGHIJ</span>
      <span>stuvwxyz01</span>
    </div>
    <div class="font-2">
      <h4>Serif</h4>
      <span class="serif">ABCDEFGHIJ</span>
      <span class="serif">stuvwxyz01</span>
    </div>
  </div>
</div>

<div class="text-block">
  <h3>Mono-space</h3>
  <p>
    Mono-space font has to be used in the description of observables, operators
    or in the text of notifications. This ensures that the with of text is
    directly proportional to the number of characters and therefore simplifies
    the positioning and alignment of text in diagrams.
  </p>
</div>
<div class="flex-columns">
  <div class="text-block">
    <div class="font-1">
      <h4>Monospace</h4>
      <span class="monospace">ABCDEFGHIJ</span>
      <span class="monospace">stuvwxyz01</span>
    </div>
    <div class="font-2">
      <h4>Proportional</h4>
      <span class="proportional">ABCDEFGHIJ</span>
      <span class="proportional">stuvwxyz01</span>
    </div>
  </div>
</div>

<h2>Font-Size</h2>
<div class="text-block">
  <p>
    The font-size is measured in em, a scalable unit for text. In this design
    system 1em is equal to 1 block, the unit for width and height. There are 3
    different sizes defined to describe marble diagrams. We will elaborate more
    on this later.
  </p>
</div>
<div class="text-block">
  <div class="font big">
    <span class="alphabet"
      >ABCDEFGHIJKLMNOPQRSTUVWXYZ abcdefghijklmnopqrstuvwxyz
      01234567890&#40;&#41;&#91;&#93;&#123;&#125;</span
    >
    <span>1em (Big)</span>
  </div>
  <div class="font medium">
    <span class="alphabet"
      >ABCDEFGHIJKLMNOPQRSTUVWXYZ abcdefghijklmnopqrstuvwxyz
      01234567890&#40;&#41;&#91;&#93;&#123;&#125;</span
    >
    <span>0.67em (Medium)</span>
  </div>
  <div class="font small">
    <span class="alphabet"
      >ABCDEFGHIJKLMNOPQRSTUVWXYZ abcdefghijklmnopqrstuvwxyz
      01234567890&#40;&#41;&#91;&#93;&#123;&#125;</span
    >
    <span>0.5em (Small)</span>
  </div>
</div>

<h2>Font-Style</h2>
<div class="text-block">
  <p>
    The font-styles are limited to 2 different styles, normal and bold. We will
    elaborate more on this later.
  </p>
</div>
<div class="text-block">
  <div class="font big">
    <span class="alphabet"
      >ABCDEFGHIJKLMNOPQRSTUVWXYZ abcdefghijklmnopqrstuvwxyz
      01234567890&#40;&#41;&#91;&#93;&#123;&#125;</span
    >
    <span>Normal</span>
  </div>
  <div class="font big bold">
    <span class="alphabet"
      >ABCDEFGHIJKLMNOPQRSTUVWXYZ abcdefghijklmnopqrstuvwxyz
      01234567890&#40;&#41;&#91;&#93;&#123;&#125;</span
    >
    <span>Bold</span>
  </div>
</div>
